{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}Issue Report{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='report_style.css') }}">
{% endblock %}
{% block content %}
    <div class="Container">
        <form action="" method="post">
            <h2>Report Issue</h2>
            <div class="content">
                <div class="input-box">
                    <label for="campus_name">Campus Name</label>
                    <select id="campus_name" name="campus_name" required>
                        <option value="" disabled selected>Select Campus</option>
                        <option value="campus1">Steve Biko</option>
                        <option value="campus2">Ritson</option>
                        <option value="campus3">ML Sultan</option>
                        <option value="campus4">City Campus</option>
                        <option value="campus5">Riverside</option>
                        <option value="campus6">Indumiso</option>
                    </select>
                </div>
                 <div class="input-box">
                    <label for="campus_block">Block</label>
                    <input id="campus_block" type="text" placeholder="Campus Block" name="campus_block" required>
                </div>
                <div class="input-box">
                    <label for="issue_description">Description</label>
                    <input id="issue_description" type="text" placeholder="Brief Description of Issue Being Reported" name="issue_description" required>
                </div>
                <div class="button-container">
                    <button class="btn btn-primary btn-lg px-4 me-md-2 fw-bold" type="submit">SUBMIT</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
